html{
    font-family: 'Open Sans',sans-serif;
    background-image: url(background.jpg);
    background-position: center
}

#container{
    position: relative;
    display: flex;
}
#profile{
    flex: 15%;
    display: block;
    margin: 5% 2% 0 10%;
  
}
#info-cards{
    flex: 100%;
    display: block;
    margin-top: 5%;
    margin-right: 10%;
}
#image{
    position: fixed;
}
#image,#profile-photo{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#name{
    font-size: 20px !important;
    line-height: 20px !important;
    color:black
}
#about,.card > ul > li{
    padding: 0 0 0 15px;
    position: relative;
    display: inline-block;
    width: 100%;
    color: black
}
#about{
    font-size: 20px !important;
    padding: 0 !important;
}
#name, #about > p{
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}

.card{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 15px 30px 30px 30px;
    background-color: #fff;
    color: red
}
.card > p{
    color: #0e141e;
    font-weight: bolder;
    font-size: 18px;
    line-height: 2;
    color: black
}
.card > p > i{
    font-size: 18px;
}
@media screen and (max-width:1090px){
    #profile{
        margin-left: 5%;
    }
}
@media screen and (max-width:850px){
    #container{
        display: block;
    }
    #profile{
        width: 90%;
    }
    .card{
        margin: 0 5%;
        margin-bottom: 30px;
    }
}